@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  opacity: 1;
  transform: translateX(-50%);
}

.next {
  opacity: 0;
  transform: translateX(150%);
}

.prev {
  opacity: 0;
  transform: translateX(-150%);
}

.quoteActive {
  opacity: 1;
}

.quoteUnmount {
  opacity: 0;
}
